.textRed{
    color: red;

}
.heading{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    justify-content: left;
}
.loremText{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 40px;
}
.card{
    box-shadow: 1px 1px rgb(212, 0, 0);
    padding-bottom: 20px;
}